{% extends "base.html" %}
{% block page_content %}

<div class="col-md-8 offset-md-2">
	<h2>Todas publicações</h2>
	<hr>
		<div class = "container pl-0"> 
			<div class = "row">
				<div class = "col col-lg">
					{% for post in posts %}
					<h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
					<small>
						{{ post.created_on.date }} |&nbsp;
						Categorias:&nbsp;
						{% for category in post.categories.all %}
						<a href ="{% url 'blog_category' category.name %}">
							{{ category.name }}
						</a>&nbsp;
						{% endfor %}
					</small>
					<p> {{ post.body | safe |escape |linebreaks | slice:":400" }}...</p>
					{% endfor %}
				</div>
			</div>
		</div>
</div>

{% endblock %}