{% extends "base.html" %}
{% block page_content %}
<div class = "col-md-8 offset-md-2">
	<h1>{{ post.title }}</h1>>
	<small>
		{{ post.created_on.date }} |&nbsp;
		Categorias:&nbsp;
		{% for category in post.categories.all %}
		<a href = "{% url 'blog_category' category.name %}">
			{{ category.name }}
		</a>&nbsp;
		{% endfor %}
	</small>
	<p>{{ post.body | linebreaks }}</p>

</div>

<div class = "col-md-5 offset-md-2">

<div class="card card-outline-secondary">

	<div class="card-header">
        <h3 class="mb-0">Faça um comentário</h3>
    </div>

    <div class="card-body">
		<form class= "form" action = "/blog/{{ post.pk }}/" method = "post">
				{% csrf_token %}
				<div class = "input-group-sm">
					{{ form.author }}
				</div>
				<div>
					&nbsp;
				</div>
				<div class = "input-group-sm">
					{{ form.body }}
				</div>
				<div>
					&nbsp;
				</div>
			<button type = "submit" class = "btn btn-primary">Enviar</button>
		</form>
	</div>
	</div>
	<div>
		&nbsp;
	</div>
	{% if comments|length > 0 %}
		<h3>Comentários:</h3>
	{% endif %}
	{% for comment in comments %}
	<p>
		No dia {{ comment.created_on.date }},&nbsp;
		<b>{{ comment.author }}</b> escreveu:
	</p>
	<p>{{ comment.body }}</p>
	<hr>
	{% endfor %}

</div>


</div>
{% endblock %}