{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body>
  <div class="container">
  <div class="row justify-content-center p-3">
    <h4>Fale comigo</h4>
  </div>

   <div class="row justify-content-center">

      <div class = "col-auto">
          <img src="{% static 'images/me_smaller.jpg' %}" class=" img-thumbnail rounded-circle"> 
      </div> 

      <div class = "col-auto pt-2">
      <table class="table table-borderless">
      <tbody>
        <tr>
          <td><h1><i class="bi bi-twitter"></h1></i></td>
          <td><span class="align-text-bottom"><a href="https://twitter.com/stephenfg">@stephenfg</a></span></td>
        </tr>
        <tr>
          <td><h1><i class="bi bi-mailbox2"></i></h1></i></td>
          <td><span class="align-text-bottom"><a href="mailto:contato@stephenfg.com.br">stephenfg@outlook.com</a></span></td>
        </tr>
       </tbody>
      </table>
    </div>
    </div>
  </div>
</body>
{% endblock %}