{% extends "base.html" %}
{% load static %}

{% block page_content %}
<body class="text-center">
	<div class = "row h-75">
		<div class="col-md-8 offset-md-2 my-auto">
 		<img src="{% static 'images/me.jpg' %}" class=" img-thumbnail rounded-circle"> 
		<h1 class="cover-heading pt-4">Stephen Guarda</h1>
			<p class="lead pt-4">Me intesso por programação há alguns anos. Resolvi criar esse site para compartilhar meus conhecimentos e falar das coisas que gosto. Atualmente estou trabalhando numa série de artigos que ensinam conceitos utilizados no desenvolvilmento de jogos multijogador.</p>
		</div>
	</div>
</body>
{% endblock %}